*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FBE4F4;
}
.logo img{
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.cart{
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    margin: 30px;
}

.cart p{
    color:#EF5C86;
    font-size: 20px;
    padding: 5px;
}

.cart a{
    color: #EF5C86;
    display: block;
    text-decoration: none;
}
.navbar ul{
    list-style-type: none;
    background-color: #F47B84;
    padding: 0px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #b45d63;
}
.navbar li{
    float: left;
    font-family: "Baloo Thambi", cursive;
    font-weight: bold;
    font-size: 15px;
}

.hero{
    background: 
    linear-gradient(rgba(85, 34, 76, 0.5), rgba(161, 64, 145, 0.5)), 
    url(assets/Table.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 100px 20px;
    margin-top: 100px;
}

.hero-content{
    max-width: 600px;
    color: #fff;
    text-align: center;
}

.hero-content h1{
    font-size: 65px;
    margin-bottom: 20px;
    font-family: "Baloo Thambi", cursive;
}

.hero-content p{
    font-size: 20px;
    margin-bottom: 30px;
    font-family: "Baloo Thambi", cursive;
}

.btn{
    background-color: #EF5C86;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Baloo Thambi", cursive;
    font-weight: bold;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.btn:hover{
    background-color: #a03d59;
}



.coming-soon{
    background: 
    linear-gradient(rgba(177, 222, 255, 0.521),rgba(147, 197, 232, 0.425)),
    url(assets/Apple\ paws.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    margin: 50px auto;
    height: 600px;
    width: 800px;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 5px solid #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Baloo Thambi", cursive;
    margin-top: 100px;
    font-size: 50px;
}

.paws-ears {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    margin-top: 100px;
}

.paws-ears-content {
    color: #983F58;
    height: 45%;
    width: 45%;
    text-align: center;
    font-family: "Baloo Thambi", cursive;
    padding: 50px;
}

.paws-ears-content h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: #EF5C86;
}

.paws-ears-content p{
    margin-bottom: 50px;
}

.paws-ears-img {
    height: 45%;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin: 50px;
}

.paws-ears-img img{
    width: 80%;
    height: auto;

}

.fursuits{
    background-color: #983F58;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Baloo Thambi", cursive;
    margin-top: 100px;
}

.fursuits-content{
    text-align: center;
    padding: 100px 20px;
    margin-top: 100px;
    max-width: 600px;
}

.fursuits h2{
    font-size: 65px;
    margin-bottom: 20px;
}

.fursuits p{
    margin-bottom: 20px;
}

.fursuits img{
    width: 100%;
}

footer{
    background-color: #F47B84;
    color: #fff;
    height: 300px;

    margin-top: 100px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer ul{
    margin-top: 30px;
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
}
footer a{
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

footer li{
    float: left;
    align-items: center;
    font-family: "Baloo Thambi", cursive;
    font-weight: bold;
    font-size: 25px;
    padding: 0 15px;
    margin-bottom: 16px;
}

footer h3{
    align-items: center;
    font-size: 15px;
    margin-top: 20px;
}

footer img{
    max-width: 200px;
    height: fit-content;
}

/* Commission Page */

.commission-banner {
    background: 
    linear-gradient(rgba(85, 34, 76, 0.5), rgba(161, 64, 145, 0.5)), 
    url(assets/Commission\ Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding: 100px 20px;
    margin-top: 100px;
    font-family: "Baloo Thambi", cursive;
}

.banner-content{
    max-width: 600px;
    color: #fff;
    text-align: center;
}

.banner-content h1{
    font-size: 65px;
}

.form{
    background-color: #fff;
    margin: 50px 50px;
    padding: 50px;
    border-radius: 10px;
}

.form-content{
    border: 5px solid #EF5C86;
    border-radius: 15px;
    padding: 50px;
}