*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FBE4F4;
    font-family: "Baloo Thambi", cursive;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.loading h1{
    text-align: center;
    color: #EF5C86;
    font-family: "Baloo Thambi", cursive;
}

.logo img{
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.cart{
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    margin: 30px;
}

.cart p{
    color:#EF5C86;
    font-size: 20px;
    padding: 5px;
}

.cart a{
    color: #EF5C86;
    display: block;
    text-decoration: none;
}
.navbar ul{
    list-style-type: none;
    background-color: #F47B84;
    padding: 0px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #b45d63;
}
.navbar li{
    float: left;
    font-family: "Baloo Thambi", cursive;
    font-weight: bold;
    font-size: 15px;
}

.hero{
    background: 
    linear-gradient(rgba(85, 34, 76, 0.5), rgba(161, 64, 145, 0.5)), 
    url(assets/Hero\ Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    padding: 100px 20px;
    margin-top: 100px;
}

.hero-content{
    max-width: 600px;
    color: #fff;
    text-align: center;
}

.hero-content h1{
    font-size: 65px;
    margin-bottom: 20px;
    font-family: "Baloo Thambi", cursive;
}

.hero-content p{
    font-size: 20px;
    margin-bottom: 30px;
    font-family: "Baloo Thambi", cursive;
}

.btn{
    background-color: #EF5C86;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Baloo Thambi", cursive;
    font-weight: bold;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.btn:hover{
    background-color: #a03d59;
}



.coming-soon{
    background: 
    linear-gradient(rgba(177, 222, 255, 0.521),rgba(147, 197, 232, 0.425)),
    url(assets/Apple\ paws.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    margin: 50px auto;
    height: 600px;
    width: 800px;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 5px solid #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Baloo Thambi", cursive;
    margin-top: 100px;
    font-size: 50px;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: 
    linear-gradient(rgba(85, 34, 76, 0.5), rgba(161, 64, 145, 0.5));
    padding: 150px;
}

#newsletter h4{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 50px;
}

#newsletter p{
    font-size: 15px;
    font-weight: 600;
    color: #a03d59;
}

#newsletter input{
    height: 40px;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px soild transparent;
    border-radius: 4px;
    outline: none;
}

button{
    background-color: #EF5C86;
    color: #fff;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    font-family: "Baloo Thambi", cursive;
    font-weight: bold;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
}

#newsletter button:hover{
    background-color: #a03d59;
}

#newsletter .news-form{
    display: flex;
    width: 40%;
}

.paws-ears {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    margin-top: 100px;
}

.paws-ears-content {
    color: #983F58;
    height: 45%;
    width: 45%;
    text-align: center;
    font-family: "Baloo Thambi", cursive;
    padding: 50px;
}

.paws-ears-content h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: #EF5C86;
}

.paws-ears-content p{
    margin-bottom: 50px;
}

.paws-ears-img {
    height: 45%;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin: 50px;
}

.paws-ears-img img{
    width: 80%;
    height: auto;

}

.fursuits{
    background-color: #983F58;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Baloo Thambi", cursive;
    margin-top: 100px;
}

.fursuits-content{
    text-align: center;
    padding: 100px 20px;
    margin-top: 100px;
    max-width: 600px;
}

.fursuits h2{
    font-size: 65px;
    margin-bottom: 20px;
}

.fursuits p{
    margin-bottom: 20px;
}

.fursuits img{
    width: 100%;
}

footer{
    background-color: #F47B84;
    color: #fff;
    height: 400px;

    margin-top: 100px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pay-icons{
    font-size: 40px;
}

footer ul{
    margin-top: 30px;
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
}
footer a{
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

footer li{
    float: left;
    align-items: center;
    font-family: "Baloo Thambi", cursive;
    font-weight: bold;
    font-size: 25px;
    padding: 0 15px;
    margin-bottom: 16px;
}

footer h3{
    align-items: center;
    font-size: 15px;
    margin-top: 20px;
}

footer img{
    max-width: 200px;
    height: fit-content;
}

/* Gallery Page */

.gallery-title{
    background: 
    linear-gradient(rgba(85, 34, 76, 0.5), rgba(161, 64, 145, 0.5));
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px;
    border-radius: 8px;
    border: 5px solid #fff;
}

.gallery-title h1{
    font-family: "Baloo Thambi", cursive;
    font-size: 60px; 
    text-align: center;
    color: #fff;
}

.gallery-container{
    margin: 50px;
}

.gallery-container .images{
    max-width: 800px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 8px;
}

.gallery-container .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-container .images .image{
    cursor: pointer;
}

.gallery-container .light-box{
    position: fixed;
    top: -100%;
    left: 0;
    height: 100vh;
    width: 100%;
    background:rgba(85, 34, 76, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms;
}

.gallery-container .light-box.active{
    top: 0;
}

.gallery-container .light-box img{
    height: 80vh;
    border-radius: 10px;
    border: 10px solid white;
}

.gallery-container .light-box .next-btn,
.gallery-container .light-box .previous-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #fff;
    padding: 8px 16px;
    background: #F47B84;
    border-radius: 8px;
    box-shadow: 0 4px 16px -4px
    rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.gallery-container .light-box .next-btn{
    right: 650px;
}

.gallery-container .light-box .previous-btn{
    left: 650px;
}

.gallery-container .light-box .options{
    position: fixed;
    top: 70px;
    right: 700px;
    background: #F47B84;
    color: #fff;
    display: none;
    align-items: center;
    font-size: 28px;
    border-radius: 8px;
    box-shadow: 0 4px 16px -4px
    rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.gallery-container .light-box.active .options{
    display: flex;
}

/* Commission Page */

.commission-banner {
    background: 
    linear-gradient(rgba(85, 34, 76, 0.5), rgba(161, 64, 145, 0.5)), 
    url(assets/Commission\ Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    font-family: "Baloo Thambi", cursive;
    min-height: 300px;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    border-radius: 8px;
    border: 5px solid #fff;
}

.banner-content{
    max-width: 600px;
    color: #fff;
    text-align: center;
}

.banner-content h1{
    font-size: 65px;
}

.banner-content a{
    color:#EF5C86;
}

.form{
    background-color: #fff;
    margin: 50px 50px;
    padding: 50px;
    border-radius: 10px;
    margin-top: 200px;
}

.form-content{
    border: 5px solid #EF5C86;
    border-radius: 15px;
    padding: 50px;
}

.form h1{
    font-family: "Baloo Thambi", cursive;
    font-weight: bold;
    font-size: 50px;
}

hr{
    color: #EF5C86;
}

label{
    display: block;
    margin-top: 1em;
    font-family: "Baloo Thambi", cursive;
    margin-bottom: 10px;
    margin-top: 10px;
}

input{
    padding: .5em;
    border-radius: 5px;
    border: 1px solid #803e42c5;
    max-width: auto;
}

textarea{
    min-height: 100px;
    min-width: 100%;
    padding: 5px;
}

select{
    background-color: #F47B84;
    color: #fff;
    padding: 8px;
    min-height: 2em;
    min-width: 60%;
    border: none;
    border-radius: 5px;
}

input{
    margin-top: 10px;
}

input[type=submit] {
    background-color: #EF5C86;
    color: #fff;
    padding: 15px 20px;
    margin-top: 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-family: "Baloo Thambi", cursive;
    font-weight: bold;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

input[type=submit]:hover {
    background-color:#ac415f; 
}

input[type=file] {
    border: none;
    margin-bottom: 50px;
}

/* Terms of Service Page */


.terms-container{
    background-color: #fff;
    font-family: "Baloo Thambi", cursive;
    margin: 100px;
    padding: 50px;
    border-radius: 20px;
}

.trems-header h1{
    font-size: 65px;
    text-align: center;
    margin-bottom: 20px;
}

.terms-container .terms-content{
    border-radius: 20px;
    border: 10px solid #EF5C86;
    padding: 80px;
}

.terms-container .terms-content ul{
    margin-left: 50px;
}

/* Shop Page */

.hero-pro{
    background: 
    linear-gradient(rgba(85, 34, 76, 0.5), rgba(161, 64, 145, 0.5)), 
    url(assets/Shop\ Banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    margin-top: 100px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px;
    border-radius: 8px;
    border: 5px solid #fff;
}

#product1{
    text-align: center;
    margin: 100px;
}

#product1 h2{
    font-size: 55px;
    color: #fff;
    background: 
    linear-gradient(rgba(85, 34, 76, 0.5), rgba(161, 64, 145, 0.5));
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}


#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #EF5C86;
    background-color: #fff;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des h5{
    padding-top: 7px;
    font-size: 15px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 20px;
    font-weight: 700;
    color: #a03d59;
}

#product1 .pro .cart{
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #a03d59;
    font-weight: 500;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.contact-container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form{
    width: 100%;
    max-width: 920px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-info{
    background-color: #fff;
}

.contact-form{
    background-color:#983F58;
    position: relative;
}

.contact-form form{
    padding: 2.3rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.title{
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.input-container{
    position: relative;
    margin: 1rem 0;
}

.contact-input{
    width: 100%;
    outline: none;
    border: none;
    padding: 0.6rem 1.2rem;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
}

textarea.contact-input{
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
}

.input-container label{
    color: #fff;
}

.contact-info h3{
    margin-top: 60px;
    color:#983F58;
    font-size: 30px;
    margin-bottom: 50px;
}

.contact-info{
    padding: 30px;
    position: relative;
    text-align: center;
}

.faq-header{
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
}

.accordion{
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}

.accordion-item{
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header{
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-header::after{
    content: "\02C5";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active::after{
    content: "\02C4";
}

.accordion-item-body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-content{
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid #000;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #fff;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    font-size: 18px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
    padding-bottom: 50px;
}

#cart table tbody td{
    font-size: 15px;
}

#cart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px;
    overflow-x: auto;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #fff;
    padding: 30px;
}

#subtotal h3{
    padding-bottom: 15px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid #fff;
    padding: 10px;
    font-size: 15px;
}

.about-head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

.about-head h2{
    padding: 10px;
    font-size: 40px;
}

.about-head img{
    width: 500px;
    height: auto;
    padding: 50px;
}

.about-head div{
    padding: 100px;
    width: 50%;
    background-color: #fff;
    border-radius: 25px;
}

marquee{
    color: #fff;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    padding: 8px;
}

#prodetails{
    display: flex;
    margin-top: 20px;
    margin: 100px;
    background-color: #fff;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-image-group{
    display: flex;
    justify-content: space-between;
}

.small-image-type{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
    font-size: 20px;
}

#prodetails .single-pro-details h2{
    font-size: 25px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}